img {
    width: 150px;
    height: 150px;
}
button {
    padding: 0;
    border: none;
    background: none;
}
body {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
h1 {
    background-color: rgba(240, 248, 255, 0.425);
    border-radius: 50px;
}
